@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-cabinet-grotesk {
  font-family: 'Cabinet Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
  font-family: "Inter", sans-serif;
}

img {
  -webkit-user-drag: none;
}

.product-image-position {
  transform-origin: var(--product-image-x) var(--product-image-y);
}