---
import Layout from '@/layouts/Layout.astro'
import ProductCard from '@/components/ProductCard.astro';
import { connection } from '@/lib/db'

const db = await connection();
const collection = db.collection('products');
const products = await collection.find().toArray();
---

<Layout>
	<section>
		<div class="container mx-auto px-4">
			<h1 class="text-4xl font-medium font-cabinet-grotesk">Price Tracker</h1>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
				{products.map(product => (
					<ProductCard product={product} />
				))}
			</div>
		</div>
	</section>
</Layout>
