---
import Layout from '@/layouts/Layout.astro'
import RetailersLogos from '@/components/RetailersLogos.astro';
import ProductsCarrousel from '@/components/ProductsCarrousel.svelte'
import { connection } from '@/lib/db'

const db = await connection();
const collection = db.collection('products');
const products = (await collection.find().toArray()).map(product => ({
    ...product,
    _id: product._id.toString()
}));
---

<Layout>
	<section class="bg-neutral-50">
		<div class="container mx-auto px-4 lg:px-8 py-6 grid grid-cols-2 min-h-[600px]">
			<div class="mr-auto place-self-center col-span-1">
				<h1 class="text-6xl font-medium font-cabinet-grotesk max-w-xl mb-4">Buy at the right place at the right time.</h1>
				<p class="text-neutral-600 max-w-lg mb-8">Price Tracker tracks millions of products across all major retailers so you can always get the cheapest price.</p>
				<a href="#" class="px-4 py-2 rounded-full text-white bg-black hover:bg-neutral-800">
					Browse deals
				</a>
			</div>
			<div class="col-span-1">
				<img src="https://lh3.googleusercontent.com/wUU2pjw_YG9ypWJdgB_08CDgwNDVq3gnHIf5JtSutGhlgWgNAxNKHIeetfm3wn9uVzFS_oUQXUVgbgPaXFtfT18M=s1280-w1280-h800" alt="Price Tracker product price chart" style="transform: perspective(400px) rotate3d(1, -2, 0, 4deg);" />
			</div>
		</div>
	</section>
	<RetailersLogos />
	<section class="overflow-hidden">
		<div class="container mx-auto px-4 lg:px-8 py-16">
			<div class="border-b pb-2 mb-8 flex items-center justify-between">
				<h1 class="text-4xl font-medium font-cabinet-grotesk">Popular Products</h1>
				<a href="/most-popular" class="hover:underline">View all</a>
			</div>
			<ProductsCarrousel products={products} client:idle />
		</div>
	</section>
</Layout>