<section class="bg-neutral-50">
    <div class="container mx-auto px-4 lg:px-8 py-4">
        <ul class="flex items-center justify-between space-x-12">
            <li>
                <img src="/images/retailer-logos/amazon.svg" class="w-28" alt="Amazon" />
            </li>
            <li>
                <img src="/images/retailer-logos/walmart.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/bestbuy.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/ebay.svg" class="h-8" alt="Ebay" />
            </li>
            <li>
                <img src="/images/retailer-logos/mediamarkt.svg" class="w-36" alt="Media Markt" />
            </li>
            <li>
                <img src="/images/retailer-logos/fnac.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/asilor.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/pccomponentes.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/tradeinn.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/allegro.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/mercadolibre.svg" class="h-8" alt="Disney" />
            </li>
            <li>
                <img src="/images/retailer-logos/decathlon.svg" class="h-8" alt="Disney" />
            </li>
        </ul>
    </div>
</section>