---
import Layout from '@/layouts/Layout.astro'
import { connection } from '@/lib/db'
import { ObjectId } from 'mongodb'

const { id } = Astro.params;
const db = await connection();
const collection = db.collection('products');
const product = await collection.findOne({ _id: new ObjectId(id) });
---

<Layout>
	<section>
		<div class="container mx-auto px-4">
			<img src={product.image} alt={product.title} transition:name=`product-image-${product._id}` />
			<h1 class="text-4xl">{product.title}</h1>
		</div>
	</section>
</Layout>